.our-contacts {
  margin-bottom: 120px;
  grid-column-gap: 80px;
  grid-row-gap: 60px;
  grid-template-areas: ". . .";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  text-align: center;
}

@media screen and (max-width: 991px) {
  .our-contacts {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    grid-template-areas: "."
    "."
    ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .our-contacts {
    width: 90%;
  }
}

.contact-team-pic {
  height: 300px;
  margin-bottom: 30px;
  background-color: hsla(0, 0.00%, 95.69%, 1.00);
}

.team-image {
  width: 100%;
  height: 100%;
  max-height: none;
  object-fit: cover;
}

.contact-team-name-wrap {
  margin-bottom: 10px;
}

.paragraph-bigger {
  margin-bottom: 10px;

  opacity: 1;

  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .paragraph-bigger {
    font-size: 16px;
    line-height: 28px;
  }
}

.paragraph-bigger.cc-bigger-light {
  opacity: 0.6;
}

.paragraph-bigger.cc-bigger-white-light {
  opacity: 0.6;
}

.paragraph-bigger.bright {
  font-size: 20px;
}

.paragraph-light {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.6;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .paragraph-light {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.paragraph-light._2 {
  align-items: center;
}

.footer-social-block {
  display: flex;
  margin-top: 12px;
  margin-left: -12px;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .footer-social-block {
    margin-top: 20px;
    margin-left: -20px;
  }
}

.footer-social-block.team {
  margin-left: 0px;
  justify-content: center;
}

.footer-social-link {
  display: block;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .footer-social-link {
    margin-left: 10px;
  }
}

.footer-social-link.nn {
  display: none;
}

.image-6 {
  width: 20px;
}

#w-node-_19659858-8468-0234-0df1-ccda78fddfb4-78fddfa5 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_19659858-8468-0234-0df1-ccda78fddfa6-78fddfa5 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
#w-node-_19659858-8468-0234-0df1-ccda78fddfc2-78fddfa5 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media screen and (max-width: 991px) {
  #w-node-_19659858-8468-0234-0df1-ccda78fddfb4-78fddfa5 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 3;
  }
  #w-node-_19659858-8468-0234-0df1-ccda78fddfc2-78fddfa5 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 4;
  }
}