.pricing-comparison {
  display: flex;
  width: 100%;
  padding: 64px 24px;
  justify-content: center;
  align-items: flex-start;
  grid-column-gap: 80px;
  grid-row-gap: 80px;

  background-color: rgba(255, 255, 255, 1);
}

.columns {
  display: flex;
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .f2wf-columns {
    flex-direction: column;
    align-items: center;
  }
}

.column-2 {
  display: flex;
  width: 100%;
  max-width: 260px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0px 4px 130px rgba(150, 163, 181, 0.12);
}

.intro {
  display: flex;
  width: 100%;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.image-wrapper {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.pricing-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.text {
  color: rgba(33, 33, 33, 1);
  font-size: 40px;
  line-height: 180%;
  font-weight: 600;
}

.text-2 {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
}

.pricing {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.text-3 {
  color: rgba(51, 51, 51, 1);
  font-size: 24px;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
}

.description {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.text-4 {
  color: rgba(33, 33, 33, 1);
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
  text-align: center;
}

.button-2 {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 1);

  background-color: rgba(255, 255, 255, 1);

  text-decoration: none;
}

.text-5 {
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 2px;
}

.separator {
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: rgba(245, 245, 245, 1);
}

.features {
  display: flex;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.pricing-feature {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icon {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.icon-wrapper {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  object-fit: cover;
}

.feature-item {
  color: rgba(51, 51, 51, 1);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
}

.column-3 {
  display: flex;
  width: 100%;
  max-width: 260px;
  padding-top: 32px;
  padding-bottom: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0px 4px 130px rgba(150, 163, 181, 0.3);
}

.button-3 {
  display: flex;
  width: 100%;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(33, 33, 33, 1);

  background-color: rgba(33, 33, 33, 1);

  text-decoration: none;
}

.text-6 {
  color: rgba(255, 255, 255, 1);
  font-size: 12px;
  line-height: 140%;
  font-weight: 500;
  letter-spacing: 2px;
}

.features-2 {
  display: flex;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.pricing-feature-2 {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.icon-wrapper-2 {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  object-fit: cover;
}